:root {
  --violet-color: #9775fa;
  --primary-font-color: #343a40;
  --secondary-font-color: #dee2e6;
  --light-color: #f8f9fa;

  --font-size-s: 1.4rem;
  --font-size-m: 1.6rem;
  --font-size-l: 2.2rem;
  --font-size-xl: 4rem;
  --font-size-xxl: 8rem;

  --border-radius-s: 1rem;
  --border-radius-m: 2rem;

  --box-shadov-s: 0 0 1rem 2rem rgba(0, 0, 0, 0.7);
  --text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}
